*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-body: "PT Sans", sans-serif;
  --ff-heading: "PT Sans Narrow", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-primary-100: #91e5f6;
  --clr-primary-200: #84d2f6;
  --clr-primary-300: #59a5d8;
  --clr-primary-400: #386fa4;
  --clr-primary-500: #133c55;

  --clr-accent: #68271e;

  --clr-light: #fff;
  --clr-dark: #000;

  --clr-gradient: linear-gradient(
    -225deg,
    var(--clr-primary-200),
    var(--clr-primary-300)
  );
}

header {
  background-image: var(--clr-gradient);
}

::selection {
  color: var(--clr-light);
  background: var(--clr-primary-400);
}

html {
  font-size: 1.25rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-body);
  line-height: 1.6;
  overflow-x: hidden;
}








.line {
fill: none;
stroke: #3172bc;
stroke-width: 1px;
}

tspan {
fill: black;
}
svg {
border: 1px solid #ccc;
background-color: white;
}

text {
font-family: 'Avenir', sans-serif;

}

.axis .domain {
stroke: #bbb;
}

.axis .tick line {
stroke: #bbb;
stroke-width: 0.5;
stroke-dasharray: 4, 2;
}
/* Buttons */

button {
outline: none;
color: #555;
border-color: #eee;
background: #fefefe;
padding: 3px 10px;
font-family: Avenir;
transition: all 200ms;
cursor: pointer;
}

button:hover {
background: #f7f7f7;
}

button:focus {
background: #e7e7e7;
}

/* Tooltip CSS */

.tooltip {
position: fixed;
opacity: 0;
pointer-events: none;
background: #eee;
max-width: 300px;

}

.tip-header {
border-bottom: 2px solid white;
padding: 0.9rem 1rem;
}

.tip-body {
padding: 0.2rem 0;
font-family: Avenir;
}

h3,
h4 {
font-size: 0.9em;
color: #555;
margin: 0;
font-family: Avenir;
}

h4 {
font-weight: normal;
}

.series-label {
 
    font-size: 0.7em;
    font-family: Avenir;
    }
    .focus-label {
 
        font-size: 0.7em;
        font-family: Avenir;
        color: #555;
        }
.tip-info {
margin: 0;
padding: 0.3rem 1em;
font-size: 0.9em;
font-family: Avenir;
}

.line-chart-header {
    font-size: 1.2em;
    font-family: Avenir;
    font: #fc5a03;

}


.tip-info:nth-of-type(even) {
background: #e0e0e0;
}
.explore-controls {
    background: #e0e0e0;
}
.invisible{
    display: none;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }